<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_bot">

<xacro:macro name="caster_wheel" params="position">

    <!--Caster Wheel Front-->
    <link name="${position}_caster_link">
        <visual>
            <geometry>
                <sphere radius="0.0352"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.0352"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.01"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.00000495616" ixy="0" ixz="0" iyy="0.00000495616" iyz="0" izz="0.00000495616"/>
        </inertial>
    </link>

    <gazebo reference="${position}_caster_link">
        <kp>1000000</kp>
        <kd>100</kd>
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/White</material>
    </gazebo>

</xacro:macro>

</robot>