<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_bot">

<xacro:macro name="drive_wheel" params="link_name wheel_radius wheel_width">
    <link name="${link_name}">
        <visual>
            <origin rpy="0 1.5707 1.5707" xyz ="0 0 0"/>
            <geometry>
                <cylinder length="${wheel_width}" radius="${wheel_radius}" />
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <origin rpy="0 1.5707 1.5707" xyz ="0 0 0"/>
            <geometry>
            <cylinder length="${wheel_width}" radius="${wheel_radius}" />
            </geometry>
        </collision>

        <inertial>
        <mass value="0.340194"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx=".00011740888726" ixy="0" ixz="0" iyy=".00011740888726" iyz="0" izz=".00021075698688"/>
        </inertial>
    </link>

    <gazebo reference="${link_name}">
        <kp>1000</kp>
        <kp>10000000</kp>
        <kd>100</kd>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
</xacro:macro>

</robot>